<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark navbar-color fixed-top scrolling-navbar">

    <!-- Navbar brand -->
    <logo class="text-center">
      <a class="navbar-brand" href="#">
          <img src="assets/images/logo.jpg" height="30" alt="">
        <span class="logo-text">Developer Center</span>
      </a>
  </logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius>Documentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius>Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius>Login</a>
            </li>

        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
