<section class="our-offerings">
    <div class="row justify-content-center mt-5">
        <h1 class="pt-5">
            Our Offerings
        </h1>
    </div>
    <div class="container">
        <section class="mt-5 pb-5">

            <div class="row mb-3">
                <div class="col-md-4 col-sm-6">
                    <h4>
                        <i class="fa fa-user pr-2" aria-hidden="true"></i> Customer</h4> Customer information at your fingertips
                </div>
                <div class="col-md-4 col-sm-6">
                    <h4>
                        <i class="fa fa-user-circle pr-2" aria-hidden="true"></i> Accounts</h4> Manage account features and balances
                </div>
                <div class="col-md-4 col-sm-6">
                    <h4>
                        <i class="fa fa-product-hunt pr-2" aria-hidden="true"></i> Products</h4> View, compare, and sign up for TD products
                </div>
            </div>
            <br>
            <div class="row mb-3">
                <div class="col-md-4 col-sm-6">
                    <h4>
                        <i class="fa fa-money pr-2" aria-hidden="true"></i> Payments</h4> Digital payment transactions
                </div>
                <div class="col-md-4 col-sm-6">
                    <h4>
                        <i class="fa fa-exchange pr-2" aria-hidden="true"></i> Transfers</h4> Move money around the world
                </div>
                <div class="col-md-4 col-sm-6">
                    <h4>
                        <i class="fa fa-file pr-2" aria-hidden="true"></i> Documents</h4> Access statements and documents
                </div>
            </div>
            <br>
            <div class="row mb-3">
                <div class="col-md-4 col-sm-6">
                    <h4>
                        <i class="fa fa-id-card pr-2" aria-hidden="true"></i> Identity</h4> Authenticate as a trusted TD customer
                </div>
                <div class="col-md-4 col-sm-6">
                    <h4>
                        <i class="fa fa-bell pr-2" aria-hidden="true"></i> Alerts</h4> Access alerts about fraud and servicing issues
                </div>
                <div class="col-md-4 col-sm-6">
                    <h4>
                        <i class="fa fa-database pr-2" aria-hidden="true"></i> Data</h4> Analytics, market insights, and rate information at your fingertips
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-md-4 col-sm-6 text-center">
                    <a href="#" class="btn btn-td-color waves-light" mdbRippleRadius>See all our APIs</a>
                </div>

            </div>

        </section>
    </div>
</section>
