<section class="container get-started">
    <div class="row justify-content-center mt-5">
        <h1 class="">
            Get Started
        </h1>
    </div>
    <mdb-carousel [isControls]="true" [animation]="'slide'">
        <!--First slide-->
        <mdb-slide>
            <img class="d-block w-100" src="assets/images/oie_oie_canvas.png" alt="First slide">
            <div class="carousel-caption">
                <div class="fadeInDown">
                    <h2 class="h2-responsive">Login/Register as a developer</h2>
                    <h1 class="h1-responsive btn btn-td-color2 waves-light" mdbRippleRadius>LOGIN</h1>
                </div>
            </div>
        </mdb-slide>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-slide>
            <img class="d-block w-100" src="assets/images/oie_oie_canvas.png" alt="Second slide">

            <div class="carousel-caption">
                <div class="fadeInDown">
                    <h2 class="h2-responsive">Explore our Public APIs</h2>
                    <h1 class="h1-responsive btn btn-td-color2 waves-light">Explore</h1>
                </div>
            </div>
        </mdb-slide>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-slide>
            <img class="d-block w-100" src="assets/images/oie_oie_canvas.png" alt="Third slide">

            <div class="carousel-caption">
                <div class="fadeInDown">
                    <h2 class="h1-responsive">Documentation hub</h2>
                    <ul class="list-unstyled">
                        <li>
                            <a class="carousel-link" href="#">Quick start guide: Step-by-step instructions for calling your first API</a>
                        </li>
                        <li>
                            <a class="carousel-link" href="#">TD API Standards: Common concepts, functionality, security, and status codes</a>
                        </li>
                        <li>
                            <a class="carousel-link" href="#">Specifications and user guides for each API</a>
                        </li>
                    </ul>
                </div>
            </div>
        </mdb-slide>
        <!--/Third slide-->
    </mdb-carousel>
</section>
