<mdb-carousel [isControls]="false" class="carousel slide view hm-black-light">
    <!--First slide-->
    <mdb-slide>
        <video class="video-fluid" autoplay loop>
            <source src="assets/images/bg-video.mp4" type="video/mp4" class="img-fluid"/>
        </video>
        <div class="mask ">

            </div>
        <div class="carousel-caption">
            <div class="animated fadeInDown">
                <h2 class="h2-responsive font-weight-bold">TD API DEVELOPER CENTER</h2>
                <h1 class="h1-responsive font-weight-bold">BUILD WITH TD</h1>
            </div>
        </div>
    </mdb-slide>
</mdb-carousel>
